@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40%,80% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce {
  animation: bounce 2000ms ease;
}